.jfx-decorator {
    -fx-decorator-color: derive(rgb(75, 75, 75), -20%);
}

.jfx-decorator .jfx-decorator-buttons-container {
    -fx-background-color: -fx-decorator-color;
}

.jfx-decorator .resize-border {
    -fx-border-color: -fx-decorator-color;
    -fx-border-width: 0 3 3 3;
}

.jfx-decorator .jfx-decorator-title-container .jfx-decorator-text {
    -fx-fill: WHITE;
    -fx-font-size: 10pt;
    -fx-font-weight: bold;
    -fx-font-family: "Microsoft YaHei UI";
}

.jfx-decorator .jfx-decorator-title-container .jfx-svg-glyph {
    -fx-shape: "M512 682c-128.024-99.309-255.626-199.040-384-298l384-298 384 298c-128.375 98.958-255.974 198.693-384 298zM512 792l314-246 70 54-384 298-384-298 70-54z";
    -jfx-size: 15;
    -fx-background-color: #f0f0f0;
}

.jfx-text-field .label {
    -fx-font-size: 7pt;
    -fx-padding: 1px;
}

.context-menu {
    -fx-background-color: #fcfcfc;
    -fx-text-fill: #000000;
    -fx-border-color: transparent;
    -fx-border-width:0;
    -fx-padding: 0;
}

.menu-item{
    -fx-border-color: transparent;
    -fx-border-width:0;
    -fx-padding: 0;
}

.menu-item .label {
    -fx-text-fill: #2f2f2f;
    -fx-padding: 0;
}

.menu-item:focused {
    -fx-background-color: rgba(255, 255, 255, 0.51);
}

.menu-item:focused .label {
    -fx-text-fill: black;
}

/*
    snackbar
 */

.jfx-snackbar-content {
    -fx-background-color: #ffffff;
}

.jfx-snackbar-toast {
    -fx-text-fill: #2c2c2c;
    -fx-alignment: CENTER;
}

.jfx-snackbar-action {
    -fx-text-fill: #636363;
}

/*******************************************************************************
*                                                                              *
* JFX Combo Box                                                                *
*                                                                              *
*******************************************************************************/

.combo-box-popup .list-view .jfx-list-cell:odd:selected .jfx-list-cell-container,
.combo-box-popup .list-view .jfx-list-cell:even:selected .jfx-list-cell-container {
    -fx-background-color: rgba(0.0, 0.0, 255.0, 0.2);
}

.combo-box-popup .list-view .jfx-list-cell {
    -fx-background-insets: 0.0;
    -fx-text-fill: #0f0f0f;
}

.combo-box-popup .list-view .jfx-list-cell:odd,
.combo-box-popup .list-view .jfx-list-cell:even {
    -fx-background-color: WHITE;
}

.combo-box-popup .list-view .jfx-list-cell:filled:hover {
    -fx-text-fill: #0d0d0d;
}

.combo-box-popup .list-view .jfx-list-cell .custom-jfx-list-view-icon,
.combo-box-popup .list-view .jfx-list-cell:filled:hover .custom-jfx-list-view-icon,
.combo-box-popup .list-view .jfx-list-cell:selected .custom-jfx-list-view-icon {
    -fx-fill: #ededed;
}

.combo-box-popup .list-view .jfx-list-cell:odd:selected > .jfx-rippler > StackPane,
.combo-box-popup .list-view .jfx-list-cell:even:selected > .jfx-rippler > StackPane {
    -fx-background-color: rgba(128, 128, 128, 0.83);
}

.combo-box-popup .list-view .jfx-list-cell .jfx-rippler {
    -jfx-rippler-fill: #9b959c;
}